// COLORS
$primary-color: #16222A;
$secondary-color: #3A6073;

$white-color: #ffffff;

$dark-grey: #000000;
$light-grey: #ffffff;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
